@import url('https: //fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(228, 254, 255);
    margin: 20px auto 40px;
}

header .page-title {
    font-size: 36px;
    margin: auto;
    padding: 0px 12px;
}

header .page-sub-title {
    margin: 0px auto 16px;
}

.search-bar {
    height: 48px;
    padding: 8px 12px;
    font-size: 20px;
    width: 60%;
    margin: 0px auto 24px;
}

.main-container {
    display: block;
    width: 100%;
    /* background-color: coral; */
    height: 100vh;
}

.side-bar {
    display: flex;
    padding: 12px 16px 32px;
    border: #000 solid 1px;
    width: 16%;
    margin: 16px;
    flex-direction: column;
    float: left;
}

.side-bar.right {
    float: right;
    width: 18%;
    margin: 16px;
}

.side-bar > .main-title {
    margin: 0px auto 12px;
}

.side-bar > .sub-title {
    margin: 8px autox;
}

.side-bar .sub-header {
    cursor: pointer;
    padding: 4px 12px;
    /* background-color: rgb(240, 240, 240); */
}

.side-bar .sub-header:hover {
    padding: 4px 16px;
    color: #8c8c8c;
    transition: ease-in-out 200ms;
}

.side-bar.right > ul.related > li {
    padding: 0px 12px;
    margin: 8px 0px;
    cursor: pointer;
}

.side-bar.right > ul.related > li:hover {
    color: #8c8c8c;
}

.alignmentor {
    height: 100%;
    margin: auto;
    width: 60%;
}

.content {
    border: rgb(29, 206, 138) solid 1px;
    margin-left: -4%;
    background-color: rgb(244, 255, 244);
    height: 100%;
}